@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000000;
    color: #fff;
    padding: 10px;
    position: relative;
}

header .navbar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar nav ul {
    display: flex;
    list-style: none;
    background-color: #212121;
    border-radius: 30px;
    gap: 30px;
    padding: 0;
}

header .navbar nav ul li {
    padding: 10px 30px;
}

header .navbar nav ul li:first-child {
    background-color: #fff;
    border-radius: 40px;
    color: #000000;
}

header #checkbox2 {
    display: none;
}

header .toggle2 {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition-duration: .5s;
    display: none;
}

header .bars {
    width: 100%;
    height: 6px;
    background-color: rgb(92, 176, 255);
    border-radius: 6px;
}

header #bar5 {
    transition-duration: .8s;
}

header #bar4,
header #bar6 {
    width: 80%;
}

header #checkbox2:checked+.toggle2 .bars {
    position: absolute;
    transition-duration: .5s;
}

header #checkbox2:checked+.toggle2 #bar5 {
    transform: scaleX(0);
    transition-duration: .5s;
}

header #checkbox2:checked+.toggle2 #bar4 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

header #checkbox2:checked+.toggle2 #bar6 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

header #checkbox2:checked+.toggle2 {
    transition-duration: .5s;
    transform: rotate(180deg);
}

/* main */
/* section-1 */
.section-1 .main {
    width: 100%;
    height: 90vh;
    background-image: url("../image/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.section-1 .main .main-left {
    padding-top: 100px;
}

.section-1 .main .main-left h1 {
    font-size: 90px;
    max-width: 600px;
    margin: 0 100px 40px;
    color: #fff;
}

.section-1 .main .main-left h1 span {
    color: #d1d1d1;
}

.section-1 .main .main-left h1 span:last-child {
    font-size: 49px;
}

.section-1 .main .main-left p {
    max-width: 440px;
    margin: 0 100px;
    color: #fff;
}

.section-1 .main .main-left .button {
    margin-top: 70px;
    display: flex;
    align-items: center;
}

.section-1 .main .main-left .button div {
    width: 297px;
    height: 1px;
    background-color: #fff;
}

.section-1 .main .main-left .button button {
    padding: 10px 30px;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.7s;
}

.section-1 .main .main-right .image {
    display: flex;
}

.section-1 .main .main-right .image .image1 img {
    width: 100%;
    height: 70vh;
}

.section-1 .main .main-right .main-right-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    text-align: center;
    gap: 20px;
}

.section-1 .main .main-right .main-right-bottom div span {
    color: #d1d1d1;
}

.section-1 .main .main-right .main-right-bottom div h3 {
    margin-top: 10px;
    font-size: 22px;
}

/* .section-2 */
.section-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #b1b1b1;
}

.section-2 .div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.section-2 .div div img {
    width: 80%;
}

/* .section-3 */
.section-3 .section3-main {
    width: 100%;

    background-image: url("../image/section-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.section-3 .section3-main .section3-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-3 .section3-main .section3-header h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

.section-3 .section3-main .section3-header h1 span {
    color: #03cec9;
}

.section-3 .section3-main .section3-header p {
    max-width: 478px;
    text-align: center;
    color: #fff;
}

.section-3 .section3-main .section3-header .serach {
    position: relative;
    top: 0;
}

.section-3 .section3-main .section3-header .serach input {
    width: 503px;
    border-radius: 13px;
    padding: 12px 50px;
    position: relative;
    top: 0;
    left: 0;
}

.section-3 .section3-main .section3-header .serach .serach-icon {
    position: absolute;
    left: 4%;
    top: 29%;
    z-index: 2;
}

.section-3 .section3-main .section3-header .serach button {
    padding: 9px;
    background-color: #1e1325;
    border: none;
    color: #fff;
    position: absolute;
    right: 1%;
    top: 9%;
    border-radius: 8px;
}

.section-3 .section3-main .left {
    margin-top: 40px;
}

.section-3 .section3-main .left span {
    color: #fff;
    padding-left: 100px;
    font-size: 24px;
}

.section-3 .section3-main .left div {
    width: 180px;
    height: 1px;
    background-color: #fff;
}

.section-3 .section3-main .section3-images {
    padding: 0 60px;
}

.section-3 .section3-main .section3-images .con {
    display: grid;

    grid-template-columns: auto auto auto;
    margin-top: 70px;
    gap: 20px;
}

.section-3 .section3-main .section3-images .con .flexs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}



.section-3 .section3-main .section3-images .con .image-3 {
    grid-column-start: 1;
    grid-column-end: 3;
}


.section-3 .section3-main .section3-images .con .image-1 {
    background: #fef5f517;
    padding: 15px;
    color: #fff;


}

.section-3 .section3-main .section3-images .con .image-1 h3 {
    margin: 22px 0;
}

.section-3 .section3-main .section3-images .con .image-1 .image1-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 .section3-main .section3-images .con .image-1 .image1-bottom div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-3 .section3-main .section3-images .con .image-2 .image2-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.section-3 .section3-main .section3-images .con .image-2 .image2-bottom div:last-child {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-3 .section3-main .section3-images .con .image-3 .image3-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.section-3 .section3-main .section3-images .con .image-3 .image3-bottom div:last-child {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-3 .section3-main .section3-images .con .image-4 .image4-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.section-3 .section3-main .section3-images .con .image-4 .image4-bottom div:last-child {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-3 .section3-main .section3-images .con .flexs .image-6 {
    display: none;
    flex-direction: column;
    background-color: #fef5f517;
    color: #fff;
    padding: 15px;
    gap: 20px;
    align-items: center;
}

.section-3 .section3-main .section3-images .con .image-2 {
    background-color: #fef5f517;
    padding: 15px;
    color: #fff;
}

.section-3 .section3-main .section3-images .con .image-2 h3 {
    margin: 12px 0;
}

.section-3 .section3-main .section3-images .con .image-3 {
    display: flex;

    background-color: #fef5f517;
    color: #fff;
    padding: 15px;
    gap: 20px;
    align-items: center;
}

.section-3 .section3-main .section3-images .con .image-4 {
    background-color: #fef5f517;
    color: #fff;
    padding: 15px 17px;
}

.section-3 .section3-main .section3-images .con .image-4 h3 {
    margin: 25px 0;
}

.section-3 .section3-main .section3-images .image h3 {
    font-size: 23px;
}

.section-3 .section3-main .section3-images .image img {
    width: 100%;
}

.section-3 .section3-main .section3-images .span {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin: 50px;
    font-size: 32px;
}

.section-3 .section3-main .section3-images .span span {
    border-bottom: 1px solid #fff;
}

.like {
    width: 36px;
    height: 36px;
    background-color: #fef5f517;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .section-4 */
.section-4 .con {
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 0;
}

.section-4 .con .logos {
    display: flex;
    align-items: center;
}

.section-4 .con .logos span {
    font-size: 50px;
    font-weight: bold;
    color: #009490;
}

.section-4 .con .images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    top: 0;
    padding: 87px 60px;
    gap: 60px;
}

.section-4 .con .images .img {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-4 .con .images .img img {
    width: 70%;
    border-radius: 20px;
    margin-top: 30px;
}

.section-4 .con .images .img span {
    font-size: 60px;
    color: #6b6b6b;
    font-family: "JetBrains Mono", monospace;
    margin-top: 20px;
}

.section-4 .con .images .img div {
    width: fit-content;
    background-color: #171721;
    color: #fff;
    padding: 10px 13px;
    position: absolute;
    top: 13%;
    margin-left: 40px;
}

.section-4 .con .images .img div h4 {
    font-size: 20px;
    text-align: center;
}

.section-4 .con .images .img div p {
    max-width: 200px;
    margin-top: 10px;
}

/* section-5 */
.section-5 .con {
    display: flex;
    width: 100%;


}

.section-5 .con .background {
    width: 50%;

    background-image: url("../image/image 10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section-5 .con .forms {
    width: 50%;
    background-color: #272727;
    padding: 37px 60px;
}

.section-5 .con .forms h1 {
    color: #fff;
    font-size: 34px;
    text-align: center;
}

.section-5 .con .forms h1 span {
    color: #009490;
}

.section-5 .con .forms .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    border: 2px dashed #fff;
    padding: 43px 67px;
    color: #fff;
    gap: 34px;
}

.section-5 .con .forms .form {
    margin: 72px 0;
}

.section-5 .con .forms .form .radio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.section-5 .con .forms .form .radio div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-5 .con .forms .form .radio .radios {
    width: 20px;
    height: 20px;

    background-color: #272727;
}

.section-5 .con .forms .form input {
    background-color: #272727;
    border: 2px solid #494747;
    color: #fff;
}

.section-5 .con .forms .form .inputs {
    width: 100%;
    position: relative;
}

.section-5 .con .forms .form .inputs:nth-child(4) i {
    left: 6%;
}

.section-5 .con .forms .form .inputs i {
    position: absolute;
    left: 6%;
    top: 31%;
}

.section-5 .con .forms .form .input {
    width: 100%;
    padding: 11px 44px;

}

.section-5 .con .forms .form .div {
    display: flex;
    gap: 50px;
}

.section-5 .con .forms .form .div input {
    width: 100%;
}

.section-5 .con .forms .form .div-1 input {
    padding: 11px 40px;
}

.section-5 .con .forms .form .div-2 input {
    height: 40px;
    padding: 5px 30px;
}

.section-5 .con .forms .form button {
    width: 100%;
    padding: 17px 40px;
    background-color: #006360;
    color: #fff;
    border: none;
}

.section-6 .con {
    width: 100%;
    background-color: #212121;
    padding: 120px 90px;
    display: flex;
    flex-direction: column;


}

.section-6 .con .span {
    margin: auto;
    color: #fff;
    border-bottom: 1px solid #fff;
    font-size: 33px;
}

.section-6 .con .max-con {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: #fff;
    text-align: center;

}

.section-6 .con .max-con h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.section-6 .con .max-con h1 span {
    color: #009490;
    margin-right: 5px;
}

.section-6 .con .max-con .con-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 60px 0;
}

.section-6 .con .max-con .con-image .page {
    width: 100%;
    border: 2px solid #006360;
    padding: 20px;

}

.section-6 .con .max-con .con-image .page .pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.section-6 .con .max-con .con-image .page div:first-child h3 {
    margin: 10px 0;
}

.section-6 .con .max-con .con-image .page .lik {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-6 .con .max-con .page .lik .likes {
    width: 36px;
    height: 36px;
    background-color: #fef5f517;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-6 .con .max-con .page .content {
    margin: 15px 0;
}

.section-6 .con .max-con .page .content p {
    max-width: 500px;
}

.section-6 .con .max-con .con-image .page .button {
    display: flex;
    justify-content: center;
}

.section-6 .con .max-con .con-image .page .button button {
    background-color: #006360;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
}

.section-6 .con .max-con .con-image .page img {
    width: 100%;
}

.section-6 .con .max-con .con-image .pagess {
    display: none;
}

/* section-7 */
.section-7 .con {

    max-width: 1200px;
    margin: auto;
    padding: 100px 40px;
    position: relative;


}

.section-7 .con div h1 {
    font-weight: 700;
    margin: 0;
}

.section-7 .con div h1 span {
    color: #009490;
    font-weight: 700;
}

.section-7 .con .section7-text {
    width: 40%;
    color: #fff;
    background-color: #000000;
    padding: 8px 26px;
    position: absolute;
    z-index: 3;
    left: 5%;
    top: 20%;

}

.section-7 .con .section7-text p {
    max-width: 418px;
    margin: 30px 0;
}

.section-7 .con .button button {
    background-color: #006360;
    border: none;
    color: #fff;
}

.section-7 .con .video {
    margin-top: 60px;
    margin-left: 30%;
    display: flex;
    justify-content: flex-end;
}

.section-7 .con .video {
    position: relative;
}

.section-7 .con .video img {
    width: 100%;
    height: 48vh;
    margin-top: 30px;
    position: relative;
}

.section-7 .con .video .play {
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 40%;
    top: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.section-7 .con .video .play div {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7 .con .video .play div i {
    font-size: 21px;
}

.section-7 .con .videos-player {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.section-7 .con .videos-player i {
    position: absolute;
    top: 44px;
    right: 3%;
    font-size: 30px;
    cursor: pointer;
    z-index: 5;

}

.section-7 .con .videos-player video {
    width: 100%;
    margin: 0 20px;
}

/* section-8 */
.section-8 .con {
    width: 100%;

    background-image: url('../image/section8-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 67px 100px;
}

.section-8 .con h1 {
    text-align: center;
}

.section-8 .con .text-con .text p {
    max-width: 788px;
    margin: 30px 0;
}

.section-8 .con div img {
    width: 100%;
}

.section-8 .con .star i {
    color: #FFC804;
}

.section-8 .con .footer .spans {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: relative;
}

.section-8 .con .footer .spans::before {
    content: '';
    width: 10%;
    height: 4px;
    position: absolute;
    left: 0;
    background-color: #006360;
}

.section-8 .con .footer .number {
    margin: 10px 0;
    font-size: 22px;
    font-family: "JetBrains Mono", monospace;
}

/* section-9 */
.section-9 .con {
    position: relative;
}

.section-9 .con .top {
    width: 100%;
    height: 200px;
    background-color: #00706D;
    color: #fff;
    padding: 52px 100px;
}

.section-9 .con .bottom {
    width: 100%;
    height: 600px;
    background-color: #212121;
    color: #fff;
    padding: 20px 50px;
}

.section-9 .con .form {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
}

.section-9 .con .form .name input {
    width: 208px;
    color: #fff;
    background: none;

    outline: none;
    padding: 8px 0;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #fff;
}

.section-9 .con .bottom .form .email {
    width: 100%;
    color: #fff;
    background: none;

    outline: none;
    padding: 8px 0;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #fff;
}

.section-9 .con .bottom .form .text {
    margin-top: 35px;
    width: 100%;
    height: 117px;
    color: #fff;
    background: none;
    outline: none;
    border: 1px solid #fff;
}

.section-9 .con .bottom .form button {
    background-color: #006360;
    border: none;
    color: #fff;
    padding: 10px 90px;
}

.section-9 .con .bottom .sosyal {
    position: relative;
    left: 72%;

}

.section-9 .con .bottom .sosyal a {
    text-decoration: none;
}

.section-9 .con .bottom .sosyal ul li a {
    color: #fff;
    font-size: 22px;
}

.section-9 .con .bottom .sosyal p {
    margin: 40px 0;
}

/* footer */
footer {
    width: 100%;
    background-image: url(../image/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 32px 36px;
}

footer .footer {
    border-top: 2px solid #777;
}

footer div:first-child {
    margin: 40px 0;
}

footer div:last-child {
    padding: 20px 0;
}

footer .search input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 10px 25px;
}

footer .search div button {
    padding: 10px 25px;
    color: #fff;
    border: none;
    background-color: #009490;
}

/* hover */
.section-1 .button button:hover {
    position: relative;
    left: -10%;
    background-color: rgb(92, 176, 255) !important;
    transition: all .7s;
}

/* table */
@media(max-width:970px) {
    header .navbar nav {
        display: none;
    }

    header .navbar .nav {
        width: 100%;
        height: 100vh;
        background-color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    header .navbar .nav ul {
        flex-direction: column;
        background: none;
        color: black;
        font-size: 22px;

    }

    header .navbar .nav ul li {
        cursor: pointer;
        opacity: 0.7;
        transition: all 1s;
    }

    header .navbar .nav ul li:hover {
        opacity: 1;
    }

    header .navbar .nav ul li:first-child {
        background: none;
        border-radius: none;
        opacity: 1;
    }

    header .navbar .join {
        display: none;
    }

    header .toggle2 {
        display: flex;
        position: relative;
        z-index: 4;
    }

    .section-1 .main .main-left h1 {
        margin: 0 30px 40px;
        font-size: 49px;

    }

    .section-1 .main .main-left p {
        margin: 0 20px;
    }

    element.style {}

    .section-1 .main .main-left .button div {
        width: 178px;
    }

    .section-2 .div {
        width: 60%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 40px;
    }

    .section-2 .div div img {
        width: auto;
    }

    .section-3 .section3-main .left {
        display: none;
    }

    .section-3 .section3-main .section3-header .serach input {
        width: 403px;
    }

    .section-3 .section3-main .section3-images .con {
        display: block;
    }

    .section-3 .section3-main .section3-images .con .flexs {}

    .section-3 .section3-main .section3-images .con .flexs .image-6 {
        display: block;
    }

    .section-3 .section3-main .section3-images .con .image-3 {
        flex-direction: column;
        grid-column-start: auto;

    }

    .section-3 .section3-main .section3-images .con .image-4 {
        display: none;
    }

    .section-3 .section3-main .section3-images .image img {
        height: 30vh;
        object-fit: cover;
    }

    .section-3 .section3-main .section3-images .image .image-bottom {
        display: flex !important;
        justify-content: space-between !important;
        flex-direction: row !important;
        margin-top: 30px;

    }

    .section-3 .section3-main .section3-images .con .image-3 {
        align-items: normal;
        gap: 0;
    }

    .section-3 .section3-main .section3-images .con .image-1 h3 {
        margin: 12px 0;
    }

    /* .section-4 */
    .section-4 .con .logos span {
        font-size: 39px;
    }


    .section-4 .con .images .img div p {
        font-size: 7px;
        max-width: 88px;
    }

    .section-4 .con .images .img span {
        font-size: 36px;
    }

    .section-4 .con .images {
        padding: 80px 40px;
        gap: 50px;
    }

    .section-4 .con .images .img div {
        margin-left: 0;

    }

    .section-4 .con .images .img div h4 {
        font-size: 12px;
    }

    .section-4 .con .images .img img {
        margin-top: 0;
    }

    /* .section-5 */
    .section-5 .con {
        flex-direction: column;
    }

    .section-5 .con .forms {
        width: 100%;
        height: 800px;
        background-image: url('../image/image 10.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
        z-index: 0;
        padding: 100px 80px;
    }

    .section-5 .con .forms::before {
        content: '';
        width: 100%;
        height: 800px;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .section-5 .con .forms .form {
        position: relative;
        z-index: 4;
        padding: 43px 67px;

    }

    .section-5 .con .forms .form .radio {
        justify-content: space-around;
        gap: 20px;
    }

    .section-5 .con .forms h1 {
        position: relative;
        z-index: 4;
    }

    .section-5 .con .background {
        display: none;
    }

    /* .section-6 */
    .section-6 .con {
        padding: 92px 44px;
    }

    .section-6 .con .max-con h1 {
        text-align: left;
    }

    .section-6 .con .max-con p {
        text-align: left;
        max-width: 449px;
    }

    .section-6 .con .max-con .con-image {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .section-6 .con .max-con .con-image .page {
        padding: 19px 20px;
    }

    .section-6 .con .max-con .con-image .pages .spans {
        text-align: left;
    }

    .section-6 .con .max-con .page .content p {
        max-width: 290px;
    }

    .section-6 .con .span {
        font-size: 21px;
    }

    .section-6 .con .max-con .con-image .pagess {
        display: block;
    }

    .section-7 .con {
        padding: 100px 20px;
    }

    .section-7 .my-5 {
        display: flex;
        flex-direction: column;

    }

    .section-7 .con .video {
        margin: 0;
    }

    .section-7 .con .section7-text {
        width: 80%;
        position: relative;
        left: 0;
        top: 80px;
        padding: 28px 20px;
        align-self: center;
    }

    .section-7 .con .section7-text p {
        max-width: none;
        margin: 20px 0;
    }
        .section-7 .con .video .play{
            left: 31%;
        }

    /* .section-8 */
    .section-8 .con {
        padding: 42px 60px;
    }

    .section-8 .con .text-con .text p {
        max-width: 752px;
        font-size: 13px;
    }

    .section-8 .con div img {
        height: 31vh;
    }

    .section-9 .con .form {
        width: 100%;
        top: -131px;
        position: relative;
    }

    .section-9 .con .bottom .sosyal {
        left: 0;
        top: 0;
    }

    .section-9 .con .top {
        height: 20vh;
        padding: 25px 63px;
    }

    .section-9 .con .bottom {
        padding: 0 61px;
        flex-direction: column;
        align-content: center;
        height: auto;
        justify-content: center !important;
        gap: 30px;

    }

    /* footer */
    footer {

        padding: 40px 20px;
        position: relative;
    }

    footer .footer {
        margin-top: 220px;
        padding: 30px 0;
    }

    footer .footer ul {
        position: absolute;
        bottom: 23%;
        left: 5%;

    }
}

/* mobile */
@media (max-width:600px) {

    /* .section-1 */
    .section-1 .main {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 70px;
    }

    .section-1 .main .main-left h1 {
        text-align: center;
        margin: 20px 0;
        font-size: 30px;
    }

    .section-1 .main .main-left h1 span:last-child {
        font-size: 30px;
    }

    .section-1 .main .main-left p {
        text-align: center;
        margin: auto;
        max-width: 400px;
    }

    .section-1 .main .main-right .image {
        display: grid;
        grid-template-columns: auto auto;
    }

    .section-1 .main .main-right .image .image1 img {
        height: auto;
    }

    .section-1 .main .main-right .image .image1:last-child img {
        display: none;
    }

    .section-1 .main .main-left .button div {
        width: 39%;
    }

    /* .section-2 */
    .section-2 .div div img {
        width: 100%;
    }

    /* .section-3 */
    .section-3 .section3-main {
        padding: 75px 20px;
    }

    .section-3 .section3-main .section3-header h1 {
        font-size: 37px;
    }

    .section-3 .section3-main .section3-header p {
        max-width: 369px;
    }

    .section-3 .section3-main .section3-header .serach {
        width: 100%;
    }

    .section-3 .section3-main .section3-header .serach input {
        width: 100%;
    }

    .section-3 .section3-main .section3-header .serach button {
        display: none;
    }

    .section-3 .section3-main .section3-images {
        padding: 0;
    }

    .section-3 .section3-main .section3-images .con .flexs {
        display: flex;
        flex-direction: column;
    }

    .section-3 .section3-main .section3-images .span span {
        font-size: 21px;
    }

    /* .section-4 */

    .section-4 .con .images {
        padding: 80px 20px;
        justify-content: center;
    }

    .section-4 .con .images .nones {
        display: none;
    }

    .section-4 .con .logos img {
        width: 40%;
    }

    .section-4 .con .logos span {
        font-size: 34px;
    }

    /* .section-5 */
    .section-5 .con .forms {
        padding: 37px 20px;
    }

    .section-5 .con .forms .form {
        padding: 36px 27px;
    }

    .section-5 .con .forms .form .div {
        flex-direction: column;
        width: 100%;
    }

    .section-5 .con .forms .form .div-2 input {
        padding: 5px 37px;
    }

    .section-5 .con .forms {
        height: 1000px;
    }

    .section-5 .con .forms::before {
        height: 1000px;
    }

    /* .section-6 */
    .section-6 .con {
        padding: 45px 35px;
    }

    .section-6 .con .max-con .con-image {
        grid-template-columns: auto;
    }

    /* .section-7 */
    .section-7 .con .texts {
        flex-direction: column;
        gap: 20px;
    }

    .section-7 .con div h1 {
        display: flex;
        gap: 10px;
        font-size: 20px;
    }

    /* .section-8 */
    .section-8 .con {
        padding: 58px 47px;
    }

    .section-8 .con div {
        flex-direction: column;
    }

    /* .section-9 */
    .section-9 .con .top {
        padding: 39px 25px;
    }

    .section-9 .con .bottom {
        padding: 110px 37px;
    }

    .section-9 .con .bottom div:first-child {
        flex-direction: column;

    }

    .section-9 .con .form .name input {
        width: 100%;
    }

    .section-9 .con .bottom .form button {
        width: 100%;
        padding: 10px 40px;
    }

    footer {
        display: none;
    }
}